<div class="sectionz" style="background-color:  #0e382c;;">
    <div class="container d-flex pt-5">
        <div class="col-2">
            <img width="80px" src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-png-transparent.png" alt="">
        </div>

        <div class="col-2">
            <div class="row1 text-white">
                <p style="font-weight: 700;font-size: large;">About Us</p>
                <p>Our Heritage</p>
                <p>Our Company</p>
                <p>Coffee House</p>
            </div>
        </div>
        <div class="col-2">
            <div class="row2 text-white">
                <p style="font-weight: 700;font-size: large;">Responsibility</p>
                <p>Community</p>
                <p>Ethical Sourcing</p>
                <p>Enivornment</p>
                <p>Diversity</p>
            </div>
        </div>
        <div class="col-2 text-white">
            <p style="font-weight: 700;font-size: large;">Quick Links</p>
            <p>Delivery</p>
            <p>Season Gifting</p>
            <p>Carrers</p>
            <p>Customer Services</p>
            <p>FAQs</p>
        </div>
        <div class="col-2">
            <div class="row3 text-white">
                <p style="font-weight: 700;font-size: large;">Social Media</p>
                <p><i class="fa-brands fa-instagram" style="font-size: 30px;"></i><i class="fa-brands fa-facebook-f ps-3" style="font-size: 30px;"></i><i class="fa-brands fa-twitter ps-3" style="font-size: 30px;"></i></p>
            </div>
        </div>
        <div class="col-2">
            <div class="row4">
                <img src="https://www.starbucks.in/assets/images/appstoreiOS.png" alt="">
                <img class="pt-2" src="https://www.starbucks.in/assets/images/appstoreAndroid.png" alt="">
            </div>
        </div>
        <hr>
    </div>
    <hr>
    <div class="divider"></div>
    <div class="sec pt-3">
        <a class="ab text-white" href="">Web Accessiblity </a>
        <a class="ab text-white ps-3" href="">Privacy Statement </a>
        <a class="ab text-white ps-3" href="">Terms of Use </a>
        <a class="ab text-white ps-3" href="">Contact Us</a>
        <a class="abc" href="">© 2023 Starbucks Coffee Company. All rights reserved.</a>
    </div>
    <hr>
    <hr>
    <hr>
</div>