<nav style="position: fixed;z-index: 1;" class="navbar navbar-expand-lg bg-body-white">
    <div class="container-fluid">
      <a class="navbar-brand hai" routerLink=""><img width="45px" src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-png-transparent.png" alt=""></a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="hello navbar-nav mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link " aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link" href="#">Gift</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link" routerLink="products/bestseller">Order</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link" routerLink="products/cart">Pay</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link" href="#">Store</a>
          </li>
        </ul>
        <div class="hallo">
            <input (keyup)="search($event)" class="hll ps-3" type="text" placeholder="Looking for something specific?">
            <a style="padding-left: 30px;font-size: 25px;color: black;" routerLink="products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>   
   </div>
    </div>
  </nav>

  <!-- second nav -->

  <!-- <nav class="navbar h2">
    <div class="container-fluid">
     <div class="col-9">
        <div class="navbar h1">
          Rewards are pouring! Sign up now.
        </div>
     </div>
     <div class="col-3 ps-5">
      <button class="h3">Know More</button>
     </div>
    </div>
  </nav> -->